html,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

.bg {
  animation: slide 25s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #2cdd82 50%, #012e55 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 10s;
}

.bg3 {
  animation-duration: 20s;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.main-container {
  padding-bottom: 20px;
}

.layout {
  width: 100vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

button:hover {
  cursor: pointer;
}

.btn {
  background-color: #012e55;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #2cdd82;
  padding: 5px 15px 5px 15px;
}

.btnDrop {
  background-color: #012e55;
  border: none;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: #2cdd82;
  padding: 5px 15px 5px 15px;
  margin-top: 1px;
}

.spacer {
  width: 70px;
}

.container {
  width: 350px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #012e55;
  color: #2cdd82;
  padding: 35px 0px 35px 0px;
  margin: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  @media (max-width: 450px) {
    width: 350px;
  }
}

/* Navbar */
.navbar-container {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 10px 15px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.sell-button {
  border: 1px solid #012e55;
  padding: 5px 15px 5px 15px;
  background-color: white;
  font-weight: 600;
  font-size: 16px;
  color: #012e55;
  cursor: pointer;
}

@media (min-width: 950px) {
  #nav-menu-button {
    display: none;
  }
}

@media (max-width: 950px) {
  #nav-button {
    display: none;
  }

  #hero-nav {
    display: none;
  }

  #filter-reviews {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav-account-details {
    display: none;
  }
}

.navbar-logo {
  max-width: 200px;
  min-width: 200px;
  display: flex;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-children-right {
  width: 100%;
  max-width: 250px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.navbar-children-left {
  width: 100%;
  max-width: 250px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.navbar-buttons {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: transparent;
}

/* Cart */
.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #2cdd82;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.cart-container {
  height: 100vh;
  background-color: white;
  float: right;
  position: relative;
  overflow-y: scroll;
}

.cart-num-items {
  margin-left: 10px;
  color: #012e55;
}

.empty-cart {
  padding: 55px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}

.cart-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  position: fixed;
  bottom: 0px;
  padding: 10px 20px;
  background-color: white;
}

.product-container {
  padding: 60px 0px 170px 0px;
}

.flyout-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 330px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: white;
  padding: 15px 20px 15px 20px;
  z-index: 99;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 300px;
  color: #4f6367;
}

.item-desc .bottom {
  margin-top: 60px;
}

.item-desc .flex {
  width: 200px;
}

.item-desc .bottom {
  margin-top: 30px;
}

.remove-item {
  font-size: 24px;
  color: #012e55;
  cursor: pointer;
  background: transparent;
  border: none;
}

.product .cart-product-image {
  border-radius: 15px;
  background-color: #ebebeb;
}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #012e55;
  width: 100%;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #2cdd82;
  padding: 6px;
  border-radius: 15px;
  margin-top: 20px;
}

// Menu
.menu-container {
  background-color: #d6d6d6;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  width: 60%;
  float: left;
  position: relative;
}

.menu-flyout-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 5px;
  padding: 10px;
  border: none;
  background-color: white;
  border-bottom: solid 1px rgb(0, 0, 0, 0.1);
}

.menu-section {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.menu-section span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 20px;
}

.menu-section span:hover {
  background-color: #012e55;
  color: #2cdd82;
  cursor: pointer;
}

/* Footer */
.footer-container {
  color: #4f6367;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

/* Login/Signup */

.login-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container input {
  width: 300px;
  font-family: inherit;
  font-weight: inherit;
  padding: 7px;
  font-size: inherit;
  border: none;
  border-radius: 5px;
}

.login-container input:focus {
  outline: none;
}

.login-container .login-button {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.login-container .header {
  margin-bottom: 10px;
}

.login-list {
  list-style: none;
}

.login-list li {
  padding: 10px;
}

.login-providers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;
  list-style: none;
}

.google-sign-in-button {
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.password-reset {
  margin-top: 12px;
}

.password-reset:hover {
  cursor: pointer;
}

/* Landing Page */

.landing-header {
  display: flex;
  justify-content: center;
  color: #012e55;
}

.queried-header {
  padding: 20px 0px 0px;
  display: flex;
  justify-content: center;
  color: #012e55;
}

/* Products */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  width: 90vw;
  padding: 20px;
}

.product-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1, 1);
  transition: transform 0.1s ease;
  border: 1px solid #ccc;
  width: 170px;
  height: 220px;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  padding: 10px;
  background-color: white;

  @media (max-width: 520px) {
    width: 125px;
  }
}

.product-card p {
  text-align: center;
  padding-top: 5px;
}

.product-card:hover {
  transform: scale(1.05, 1.05);
}

.product-image {
  object-fit: contain;
  border-radius: 10px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-name {
  font-weight: 500;
}

.product-price {
  font-weight: 800;
  margin-top: 6px;
}

/* Product Details */
.product-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 10px;
  background-color: white;

  @media (min-width: 1100px) {
    min-width: 1100px;
  }
}

.product-detail-table {
  padding: 15px 0px;
}

.product-detail-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.product-detail-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.product-review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  gap: 20px;

  @media (min-width: 1100px) {
    max-width: 1100px;
    min-width: 1100px;
  }

  @media (max-width: 1100px) {
    width: 98vw;
  }

  margin: 10px 10px 0px 10px;
  background-color: white;
}

.product-detail-image {
  object-fit: contain;
}

.small-image-focused {
  border: 1px solid #2cdd82;
  padding: 5px;
  margin: 2px;
}

.small-image {
  border: 1px solid grey;
  cursor: pointer;
  padding: 5px;
  margin: 2px;
}

.product-detail-desc {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 800px;
  min-width: 200px;
}

.product-detail-desc h4 {
  margin-top: 10px;
}

.product-detail-desc p {
  margin-top: 10px;
}

.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
}



.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid #012e55;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
  color: #012e55;
  cursor: pointer;
  width: 150px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}

.buttons .buy-now {
  width: 150px;
  padding: 10px 20px;
  background-color: #012e55;
  color: #2cdd82;
  border: none;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.small-image-container {
  display: flex;
  align-items: center;
  min-height: 50px;
  min-width: 200px;
}

.reviews {
  border-top: solid 1px #dadada;
  max-width: 100%;
}

.user-review {
  width: 100%;
  max-width: 100px;
  min-width: 100px;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}

.reviews-container-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 70%;
  padding: 20px;
}

.review-detail-image {
  object-fit: contain;
  transition: 0.3s ease-in-out;
}

.reviews-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 1100px) {
    flex-direction: row;
  }
}

.filter-reviews {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: solid 1px #dadada;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(77, 77, 79, 0.08),
    0 0 2px 0 rgba(77, 77, 79, 0.16);
}

.filter-reviews input:hover {
  cursor: pointer;
}

.filter-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border: 0;
  border-radius: 0;
  background-color: #f4f4f4;
  border-bottom: solid 1px #dadada;
}

.filter-clear {
  cursor: pointer;
}

.filter-radio {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px 5px 10px;
}

.reviews-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #a19797;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 10px;
}

.review-stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  align-items: center;
  font-weight: 600;
}

.review-stars-count {
  font-weight: 300;
}

.review-stars-click:hover {
  cursor: pointer;
}

/* Account Details */
.account-details-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100vw;
}

.account-details-card {
  margin: 20px;
  color: #012e55;

  @media (max-width: 500px) {
    margin: 10px;
  }
}

.account-card {
  min-width: 450px;
  min-height: 150px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  padding: 10px;

  @media (max-width: 500px) {
    min-width: 0px;
    width: 90vw;
  }
}

.account-details-card li {
  margin-left: 10px;
  list-style: none;
}

.account-details-card li:hover {
  cursor: pointer;
  color: #2cdd82;
}

.account-details-card ul {
  padding: 10px;
}

.account-details-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.nav-section-header {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 0px 20px 3px 20px;
  color: #012e55;
}

.nav-account-details {
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  margin: 20px;
  min-width: 300px;
}

.nav-account-details-header {
  display: flex;
  justify-content: center;
  color: #2cdd82;
  background-color: #012e55;
  padding: 10px;
}

.nav-account-details .list {
  padding: 5px 0px 5px;
  color: #012e55;
}

.nav-account-details ul {
  list-style: none;
}

.nav-account-details li {
  padding: 0px 20px 0px 60px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 10px;
}

.nav-account-details li:hover {
  cursor: pointer;
  background-color: #ccc;
}

.address-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Reviews */
.review-list-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border-bottom: solid 1px #dadada;
  padding: 10px;
  width: 100%;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

/* Review Popup */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: auto;
  max-height: 80vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  gap: 20px;
  padding: 10px;
}

.popup-review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  gap: 10px;
  padding: 20px;
  margin-top: 10px;
}

.popup-review-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #012e55;
  outline: 0;
  font-size: 1rem;
  color: #012e55;
  padding: 7px 5px;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: grey;
  padding-bottom: 5px;
}

.form__field:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #012e55;
    font-weight: 700;
  }

  display: flex;
  flex-wrap: wrap;
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 2px;
  border-image: linear-gradient(to right, #012e55, #2cdd82);
  border-image-slice: 1;
}

.form__field {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

// Hero Banner
.hero-banner-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

.hero-inner-container {
  display: flex;
  justify-content: center;
}

.hero-card {
  border: none;
  min-width: 200px;
  height: fit-content;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
}

.hero-details-card-header {
  padding: 10px 0px 10px;
  display: flex;
  justify-content: center;
  background-color: #012e55;
  color: #2cdd82;
}

.hero-details-card {
  border: none;
  margin: 0%;
  background-color: white;
}

.hero-details-card ul {
  padding: 5px 0px 5px;
}

.hero-details-card li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0px 20px 0px 20px;
}

.hero-details-card li:hover {
  cursor: pointer;
  background-color: rgb(184, 184, 184, 0.7);
}

.nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none inside;
  margin: 0;
  padding: 0;
}

.nav li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  float: left;
  padding: 2px 20px 2px 20px;
}

.nav li:hover {
  color: #2cdd82;
  background-color: #012e55;
}

.nav .cat {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
  z-index: 10;
  background-color: white;
  padding: 5px 0px 5px;
}

.nav li:hover ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 100%;
  color: black;
  background-color: white;
}

// address book
.account-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: 20px;
}

.add-address {
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.nav-address {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none inside;
  margin: 0;
  padding: 0;
}

.address-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.address-item {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.25);
  align-items: center;
  padding: 10px;
  margin-top: 5px;
}

.address-actions {
  display: flex;
  gap: 7px;
  font-size: 20px;
}

.action-button-delete:hover {
  cursor: pointer;
  color: red;
}

.action-button:hover {
  cursor: pointer;
  color: #2cdd82;
}

.image-dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 150px;
  color: #012e55bb;
  border: 2px dashed #eeeeee;
  background-color: #fafafa;
  padding: 20px;
  cursor: pointer;
}

.image-dropzone em {
  opacity: 0.7;
}

.image-outer-dropzone .images {
  display: flex;
  cursor: pointer;
}

.image-outer-dropzone {
  padding: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}

.zoned-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}

.space-top {
  margin-top: 2px;
}

.product-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}



.address-allignment {
  display: flex;
  align-items: center;
  gap: 20px;
}

.carousel-container {
  width: 100%;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: relative;

  @media (max-height: 920px) {
    height: 400px;
  }
}

.carousel-container:hover .carousel-buttons {
  display: flex;
}

.carousel-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 1s;
  opacity: 0;
}

.carousel-image-container.active {
  opacity: 1;
  z-index: 1;
}

.carousel-buttons {
  z-index: 2;
  display: none;
  justify-content: space-between;
  width: 100%;
}

.carousel-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
}

.slider-div {
  padding: 10px 20px;
  position: relative;
}

.hero-banner-container .swiper-slide {
  padding: 0px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.swiper-slide {
  padding: 15px 0px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(100vw - 40px);
}

.slider-buttons button {
  background-color: transparent;
  color: #012e55;
  border: none;
  z-index: 15;
  width: 50px;
  height: 50px;
}

.swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quantity-desc {
  display: flex;
  font-size: 16px;
  margin: 10px 5px 0px 5px;
}

.nav-cart-button:hover {
  color: #2cdd82;
}

.quantity-desc button {
  width: 50px;
  height: 40px;
  border: 1px solid #012e55;
  background-color: white;
  color: #012e55;
}

.quantity-desc span {
  padding: 6px 12px;
  border-top: 1px solid #012e55;
  border-bottom: 1px solid #012e55;
}

.quantity-desc .minus {
  color: #0fa3b1;
}

.quantity-desc .num {
  font-size: 20px;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.product-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px 0px rgba(1, 46, 85, 0.5);
  margin: 20px 0px 0px 0px;
  width: 300px;
  background-color: white;
}

.product-filter-header {
  padding: 10px 0px 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #012e55;
  color: #2cdd82;
}

.queried-product-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 20px;
}

.filter-drawer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #012e55;
}

.filter-drawer-header-opened {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);
}

.filter-drawer {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #012e55;
}